<div class="splide__track" style="width: 100%">
  <div class="gallery-list splide__list" data-aos="fade-down" role="group">
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x.jpg;/mountain-tours/tab-gallerygal@2x.jpg;/mountain-tours/dsk-gallerygal@2x.jpg"
        href="/mountain-tours/dsk-gallerygal@2x.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-5.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-5.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-4.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-4.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-4.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-4.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-4.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-1.jpg;/mountain-tours/tab-gallerygal@2x-1.jpg;/mountain-tours/dsk-gallerygal@2x-1.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-1.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-4.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-4.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-5.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-5.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-5.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-5.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-5.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-2.jpg;/mountain-tours/tab-gallerygal@2x-2.jpg;/mountain-tours/dsk-gallerygal@2x-2.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-2.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-2.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-2.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-7.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-7.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-7.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-7.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-7.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-3.jpg;/mountain-tours/tab-gallerygal@2x-3.jpg;/mountain-tours/dsk-gallerygal@2x-3.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-3.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-3.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-3.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-6.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-6.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-6.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-6.jpg
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-6.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-4.jpg;/mountain-tours/tab-gallerygal@2x-4.jpg;/mountain-tours/dsk-gallerygal@2x-4.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-4.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-7.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-7.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-1.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-1.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-1.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-1.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-1.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-5.jpg;/mountain-tours/tab-gallerygal@2x-5.jpg;/mountain-tours/dsk-gallerygal@2x-5.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-5.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-6.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-6.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-6.jpg;/mountain-tours/tab-gallerygal@2x-6.jpg;/mountain-tours/dsk-gallerygal@2x-6.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-6.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob-1.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x-1.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)  and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-2.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-2.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-2.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-2.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-2.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-7.jpg;/mountain-tours/tab-gallerygal@2x-7.jpg;/mountain-tours/dsk-gallerygal@2x-7.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-7.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/mob/gallerymob.jpg    1x,
              ./img/photos/gallery/mob/gallerymob@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)  and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/tabl/gallerytabl-3.jpg    1x,
              ./img/photos/gallery/tabl/gallerytabl@2x-3.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/photos/gallery/dsk/gallerygal-3.jpg    1x,
              ./img/photos/gallery/dsk/gallerygal@2x-3.jpg 2x
            "
          />
          <img
            src="./img/photos/gallery/dsk/gallerygal@2x-3.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
  </div>
</div>
<div class="slider-arrows">
  <div class="slider-arrow left">
    <svg width="40" height="40" viewBox="0 0 40 40">
      <use href="./img/icons-sprite.svg#slick-arrow"></use>
    </svg>
  </div>
  <div class="slider-arrow right">
    <svg width="40" height="40" viewBox="0 0 40 40">
      <use href="./img/icons-sprite.svg#slick-arrow"></use>
    </svg>
  </div>
</div>
