<!-- <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-item" data-aos="fade-right" data-aos-duration="800" data-links>
        <a class="mobile-nav-link" href="#about">About us</a>
      </li>
      <li class="mobile-nav-item" data-aos="fade-left" data-aos-duration="800" data-links>
        <a class="mobile-nav-link" href="#tours">Tours</a>
      </li>
      <li class="mobile-nav-item" data-aos="fade-right" data-aos-duration="800" data-links>
        <a class="mobile-nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="mobile-nav-item" data-aos="fade-left" data-aos-duration="800" data-links>
        <a class="mobile-nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-nav-item" data-aos="fade-right" data-aos-duration="800" data-links>
        <a class="mobile-nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav> -->