<!-- <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item" data-aos="fade-right" data-aos-duration="800">
        <a class="header-nav-link" href="#"></a>
      </li>
      <li class="header-nav-item" data-aos="fade-left" data-aos-duration="800">
        <a class="header-nav-link" href="#"></a>
      </li>
      <li class="header-nav-item" data-aos="fade-right" data-aos-duration="800">
        <a class="header-nav-link" href="#"></a>
      </li>
      <li class="header-nav-item" data-aos="fade-left" data-aos-duration="800">
        <a class="header-nav-link" href="#"></a>
      </li>
      <li class="header-nav-item" data-aos="fade-right" data-aos-duration="800">
        <a class="header-nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav> -->