<section class="section about" id="about">
  <h2 class="section-title">About Me</h2>
  <p>
    When I embroider, I feel a deep sense of calm and focus.Each stitch becomes a part of my soul, and the colors bring to life the emotions I want to convey.Embroidery gives me a sense of creative flow, allowing me to forget about everyday worries.
  </p>
  <p>
    Always, while working, I feel joy and inspiration as I see my ideas come to life.Each new piece brings me satisfaction and pride in the result,and the process of embroidery becomes a way to express my feelings and experiences.
  </p>
</section>
