<div id="tour-3" class="tour">
  <div class="tour-container modal-slider">
    <div class="tour-slide">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/photos/tour3/hands.webp 1x, ./img/photos/tour3/hands.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/photos/tour3/hands.webp 1x, ./img/photos/tour3/hands.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/photos/tour3/hands.webp 1x, ./img/photos/tour3/hands.webp 2x"
        />
        <img class="tour-card-bg"
          src="./img/photos/tour3/hands.webp"
          alt="hands in prayer"
        />
      </picture>

      <h2 class="tours-title">Title: Hands in Prayer</h2>
      <span class="tour-stripe">
        <span class="tour-days">Fabric size, cm: A4</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Number of colors: 16</li>
        <li>Approximate quantity of beads (pcs): 9000</li>
        <li>Fabric: dense silk</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/photos/tour3/hands2.webp 1x, ./img/photos/tour3/dsk/hands2.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/photos/tour3/tabl/hands2.webp 1x, ./img/photos/tour3/tabl/hands2.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/photos/tour3/hands2.webp 1x, ./img/photos/tour3/hands2.webp 2x"
        />
        <img class="tour-card-bg"
          src="./img/photos/tour3/hands2.webp"
          alt="hands in prayer"
        />
      </picture>

      <h2 class="tours-title">Hands in Prayer</h2>
      <span class="tour-stripe">
        <span class="tour-days">12 days</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Embodies deep spiritual feelings and a sense of tranquility.</li>
        <li>The embroidery depicts hands clasped in prayer, symbolizing faith, hope, and a connection to higher powers.</li>
        <li>Albrecht painted his brother's calloused hands raised to the sky.</li>
        <li>He titled his powerful painting simply: Hands.</li>
      </ul>
    </div>
  </div>
</div>

