<div id="tour-2" class="tour">
  <div class="tour-container modal-slider">
    <div class="tour-slide">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/photos/tour2/angel1.webp 1x, ./img/photos/tour2/angel1.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/photos/tour2/angel1.webp 1x, ./img/photos/tour2/angel1.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/photos/tour2/angel1.webp 1x, ./img/photos/tour2/angel1.webp 2x"
        />
        <img class="tour-card-bg" src="./img/photos/tour2/dsk/Rectangle-67tour2-dsk@2x.jpg" alt="mountain species" />
      </picture>

      <h2 class="tours-title">The Guardian Angel</h2>
      <span class="tour-stripe">
        <span class="tour-days">Creativity with Love</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Choosing the color palette for the angel's image</li>
        <li>Preparing the fabric and beads for embroidery</li>
        <li>Starting the first stitches depicting the guardian angel</li>
        <li>Final touches and framing the artwork</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/photos/tour2/angel2.webp 1x, ./img/photos/tour2/angel2.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/photos/tour2/angel2.webp 1x, ./img/photos/tour2/angel2.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/photos/tour2/angel2.webp 1x, ./img/photos/tour2/angel2.webp 2x"
          type="image/jpeg"
        />
        <img class="tour-card-bg" src="./img/photos/tour2/angel2.webp" alt="mountain species" />
      </picture>

      <h2 class="tours-title">Format: A4</h2>
      <span class="tour-stripe">
        <span class="tour-days">Fabric size, cm: 25 x 33</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Technique: Bead Embroidery</li>
        <li>Filling: Partial</li>
        <li>Number of colors: 27</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/photos/tour2/angel3.webp 1x, ./img/photos/tour2/angel3.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/photos/tour2/angel3.webp 1x, ./img/photos/tour2/angel3.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/photos/tour2/angel3.webp 1x, ./img/photos/tour2/angel3.webp 2x"
        />
        <img class="tour-card-bg" src="./img/photos/tour2/angel3.webp" alt="mountain species" />
      </picture>

      <h2 class="tours-title">Creativity with Love</h2>
      <span class="tour-stripe">
        <span class="tour-days">23 days</span>
      </span>
      <ul class="tour-schedule-list">
        <li>The image of the angel in warm tones conveys a sense of protection and tranquility.</li>
        <li>Every detail, from the delicate wings to the gentle expression, is rendered with care.</li>
        <li>The beads add sparkle, highlighting the charm of the figure.</li>
      </ul>
    </div>
  </div>
</div>
