<section class="section advantages">

    <h2 class="section-title-my">
      Bead Embroidery Advantages</h2>
    <load src="partials/advantages/bg-gallery.html" />
    <ul class="advantages-list">
        <li data-aos="fade-down" data-aos-delay="0">Visual Appeal</li>
        <li data-aos="fade-down" data-aos-delay="60">Durability</li>
        <li data-aos="fade-down" data-aos-delay="90">Uniqueness</li>
        <li data-aos="fade-down" data-aos-delay="120">Therapeutic Effect</li>
        <li data-aos="fade-down" data-aos-delay="150">Ability to Create Three-Dimensional Designs</li>
    </ul>

</section>