<ul class="advantages-gallery">
  <li>
    <img loading="lazy"
      alt="Yellow-blue daisies"
      src="./img/photo/advantages/flower-third.webp"
      srcset="
        ./img/photos/advantages/flower-third.webp  1x,
        ./img/photos/advantages/flower-third.webp 2x
      "
    />
  </li>
  <li>
    <img loading="lazy"
      alt="Blooming daisy"
      src="./img/photo/advantages/flowers.webp"
      srcset="
        ./img/photos/advantages/flowers.webp  1x,
        ./img/photos/advantages/flowers.webp 2x
      "
    />
  </li>
  <li>
    <img loading="lazy"
      alt="Daisy"
      src="./img/photo/advantages/myflower.webp"
      srcset="
        ./img/photos/advantages/myflower.webp  1x,
        ./img/photos/advantages/myflower.webp 2x
      "
    />
  </li>
</ul>
