.about {

  padding-bottom: 0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.about > p:nth-child(2) {
  margin-bottom: 1em;
}
.about > p {
  margin: 0 auto;
  color: var(--secondary-text);

  text-align: left;
}

@media screen and (min-width: 768px) {
  .about {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    font-size: 24px;
  }

  .about > p {
    width: 1170px;
    font-size: 24px;
    font-weight: 400;
  }
}
