.gallery {
  padding-left: 0;
  padding-right: 0;
}

.gallery-item > a > img {
  width: 100%;
  object-fit: cover;
}

.gallery-item {
  overflow: hidden;
  height: auto;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.gallery-item:hover {
  transform: scale(0.95);
}
/* Controls */
.slider-arrows {
  width: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px auto 52px auto;
}
.slider-arrow {
  padding: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #a3a5a3;
  transition: fill var(--base-transition);
}

.slider-arrow > svg {
  display: block;
  width: 100%;
  height: 100%;
}
.left {
  rotate: 180deg;
}
.slider-arrow:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {


  .splide__track {
    max-width:728px;
    overflow: hidden;
    margin: 0 auto;
  }
  .slider-arrow {
    width: 32px;
    height: 32px;
  }
  .slider-arrows {
    width: 104px;
    margin: 32px auto 80px auto;
  }
}

@media screen and (min-width: 1440px) {

  .splide__track {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
  }

  .slider-arrow {
    width: 60px;
    height: 60px;
  }
  .slider-arrows {
    width: 140px;
    margin: 40px auto 80px auto;
  }
}
