<ul class="review-list">
  <li class="review-card" data-aos="fade-down"  data-aos-delay="0">
    <div class="review-card-front">
      <img loading="lazy" class="card-bg" src="./img/photos/user-cards/photo2.webp" alt=" nice background" />
      <div class="user-bar">
        <img loading="lazy" class="user-photo" src="./img/photos/user-cards/photo3.jpg" alt="reviewer-photo" />
        <h3 class="user-name">Men's Vyshyvanka</h3>
      </div>
      <p class="user-review">
        Modern men's vyshyvankas have become popular not only in Ukraine but also internationally,
        thanks to their stylish appearance and versatility in combining with various wardrobe elements.
      </p>
    </div>
    <div class="review-card-back">
      <img loading="lazy"
      alt="Background image Mountain Views"
      src="./img/photo/user-cards/photo4.jpg"
      srcset="
        ./img/photos/user-cards/photo4.jpg     1x,
        ./img/photos/user-cards/photo4.jpg 2x
      "
    />
    </div>
  </li>
  <li class="review-card" data-aos="fade-down"  data-aos-delay="100">
    <div class="review-card-front">
      <img loading="lazy" class="card-bg" src="./img/photos/user-cards/photobeads.webp" alt=" nice background" />
      <div class="user-bar">
        <img loading="lazy" class="user-photo" src="./img/photos/user-cards/flower.jpg" alt="reviewer-photo" />
        <h3 class="user-name">Women’s Vyshyvanka</h3>
      </div>
      <p class="user-review">
        The women's vyshyvanka adds a unique charm to the look,
         creating an atmosphere of elegance and warmth,
         and serves as a symbol of the connection between the past and the present.
      </p>
    </div>
    <div class="review-card-back">
      <img loading="lazy"
      alt="Background image Mountain Views"
      src="./img/photo/user-cards/photo5.jpg"
      srcset="
        ./img/photos/user-cards/photo5.jpg    1x,
        ./img/photos/user-cards/photo5.jpg 2x
      "
    />
    </div>

  </li>
</ul>
