<div class="upcoming-card-list">
  <div class="upcoming-card " data-aos="fade-right"  data-aos-delay="0">
    <img loading="lazy"
      alt="Peonies"
      src="./img/photo/upcoming/peonys.webp"
      srcset="./img/photos/upcoming/peonys.webp 1x, ./img/photos/upcoming/peonys.webp 2x"
    />

    <div class="card-bottom-container">
      <h3 class="card-title">Peonies are beautiful<br> flowers.</h3>
      <p class="card-descr"></p>
      <button type="button" class="btn-primary btn-card" data-aos="zoom-in" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-fancybox  data-src="#tour-1">
        MORE DETAILS
      </button>
    </div>
  </div>
  <div class="upcoming-card " data-aos="fade-right"  data-aos-delay="100">
    <img loading="lazy"
    alt="Guardian angel"
    src="./img/photo/upcoming/angel.webp"
    srcset="./img/photos/upcoming/angel.webp 1x, ./img/photos/upcoming/angel.webp 2x"
  />
    <div class="card-bottom-container">
      <h3 class="card-title"> and<br> children</h3>
      <p class="card-descr"></p>
      <button type="button" class="btn-primary btn-card" data-aos="zoom-in" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-fancybox  data-src="#tour-2">
        MORE DETAILS
      </button>
    </div>
  </div>
  <div class="upcoming-card " data-aos="fade-right"  data-aos-delay="150">
    <img loading="lazy"
    alt="hands"
    src="./img/photo/upcoming/hands.webp"
    srcset="./img/photos/upcoming/hands.webp 1x, ./img/photos/upcoming/hands.webp 2x"
  />
    <div class="card-bottom-container">
      <h3 class="card-title">Hands <br> A. Dürer</h3>
      <p class="card-descr"></p>
      <button type="button" class="btn-primary btn-card" data-aos="zoom-in" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-fancybox  data-src="#tour-3">
        MORE DETAILS
      </button>
    </div>
  </div>
</div>
