/* Анімація зникнення для заголовка */
.disappear {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #009688;
  margin-bottom: 20px;
}
.start-animation {
  display: flex;
}

.disappear span {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.disappear span:nth-child(1) { animation-delay: 0.1s; }
.disappear span:nth-child(2) { animation-delay: 0.2s; }
.disappear span:nth-child(3) { animation-delay: 0.3s; }
.disappear span:nth-child(4) { animation-delay: 0.4s; }
.disappear span:nth-child(5) { animation-delay: 0.5s; }
.disappear span:nth-child(6) { animation-delay: 0.6s; }
.disappear span:nth-child(7) { animation-delay: 0.7s; }
.disappear span:nth-child(8) { animation-delay: 0.8s; }

/* Стилі заголовка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(181 178 126 / 37%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Легка тінь для розділення */
  z-index: 10;
  transition: background-color 0.3s ease; /* Плавний перехід фону */
}

.header:hover {
  background-color: rgba(255, 255, 255, 1); /* Підкреслити фон при наведенні */
}



.logo {
  height: 20px;
  transition: transform 0.3s, opacity 0.5s; /* Плавні переходи */
}

.logo:hover,
.logo:focus {
  transform: scale(1.05); /* Легке масштабування при наведенні */
}

.logo.active {
  opacity: 0;
}

.header-nav {
  display: none; /* Сховати навігацію за замовчуванням */
}

.header-nav-list {
  display: flex; /* Додано display: flex для елементів списку */
  gap: 80px;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  color: #333; /* Колір тексту */
  transition: color 0.3s ease; /* Плавний перехід кольору */
}

.header-nav-item:hover {
  color: #009688; /* Зміна кольору при наведенні */
}

.header-nav-item:after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #009688; /* Основний колір акценту */
  left: 0;
  bottom: 10px;
  transform: scaleX(0);
  transition: transform 0.3s ease; /* Плавний перехід для лінії */
}

.header-nav-item:hover:after,
.header-nav-item:focus:after {
  transform: scaleX(1); /* Показати лінію при наведенні */
}

/* Медіа-запити для адаптивного дизайну */
@media screen and (min-width: 768px) {
  .header {
    padding: 24px 20px;
    max-width: calc(778px - 40px);
  }

  .header-nav-list {
    display: flex; /* Показати список навігації */
  }

  .logo {
    transform: scale(1.5); /* Збільшити логотип */
    position: relative;
    top: 3px;
  }

  .burger-open {
    width: 60px;
    height: 60px; /* Збільшити кнопку бургера */
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 30px 0;
    max-width: 1170px;
    background-color: rgba(255, 255, 255, 0.9); /* Напівпрозорий фон */
  }

  .header-nav {
    display: block; /* Показати навігацію */
  }

  .burger-open {
    display: none; /* Сховати кнопку бургера на великих екранах */
  }
}
