.book-a-tour {
  width: 100vw;
  padding:  52px 32px !important;
  display: none;
  font-family: Montserrat;
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}


.modal-title {
  color: var(--primary-text);
  text-align: center;

  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
.modal-deskr {
 max-width: 281px;
  color: var(--secondary-text);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto 24px auto;
}
.modal-options-label {
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding-left: 36px;

}
.modal-options-label > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid var(--primary-text);
  margin-right: 20px;
  cursor: pointer;
  transition: all var(--base-transition);
}

.checkmark.invalid{
  border-color:crimson;
}
.modal-options-label:is(:hover, :focus) .checkmark {
  background-color: #e7e6e6;
}
.checkmark:after {
  content: url('../../img/check.svg');
  position: absolute;
  display: none;
  top: -10%;
  left: -5%;
}

.modal-options-label input:checked ~ .checkmark:after {
  display: block;
}


.modal-btn{
    margin-top:0;
}

@media screen and (min-width:768px){
  .book-a-tour {
    width: 478px;
    padding:  60px 66px !important;

  }

  .modal-title {
    font-size: 32px;
    margin-bottom: 24px ;
  }
  .modal-deskr {
    max-width: 100%;
    font-size: 18px;
    margin: 0 auto 32px auto;
  }
  .modal-form {
    gap: 28px;
  }
  
}
@media screen and (min-width:1440px){
  .book-a-tour {
    width: 774px;
    padding: 116px  100px  60px 100px!important;

  }
  .modal-title {
    font-size: 60px;
    margin-bottom:28px;
  }
  .modal-deskr {
    max-width: 95%; 
    font-size: 24px;
    margin: 0 auto 32px auto;
  }
  .modal-options-label {
    font-size: 24px;
    padding-left: 32px;
    margin-left: 13px;
  }
  .modal-options-label > input {
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkmark {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--primary-text);
    margin-right: 20px;
    cursor: pointer;
    transition: all var(--base-transition);
  }
  .modal-options-label:is(:hover, :focus) .checkmark {
    background-color: #e7e6e6;
  }
  .checkmark:after {
    content: url('../../img/check.svg');
    position: absolute;
    display: none;
    top: -28%;
    left: -5%;
  }
  
  .modal-options-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .modal-btn{
    max-width: 100%;
  }
  
}